.add-tenant-container{
    max-width: 400px;
    margin: 100px auto; /* Center the container */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #fff;
   
}