.manage-tenant-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.tenant-options {
  margin-top: 10px;
}

.tenant-option-button {
  display: block;
  margin: 5px 0;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}
